/* You can add global styles to this file, and also import other style files */

.main-title {
  background-color: #d9d9d9;
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  box-sizing: border-box;
}
.sub-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  height: 36px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}